body{
    background-image:url(../img/stringio.jpg), linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25));
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    width: 175px;
    margin: 0 auto 10px;
    padding: 15px;
    text-align: center
}

div{
    color: floralwhite;
    margin-top: 5em;
}