<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DragonEvents</title>
        <link rel="stylesheet" type="text/css" href="../css/EventStyle.css">

</head>
<body>
	<!-- Page Container -->
	<div id="container">
		<!-- Header -->
		<header>
			<!-- Logo -->
            <div id= "logo">
                <img src="../img/DragonEventsLogo.JPG" alt="DragonEvents Logo" height="150" width="200">
                <h2>Welcome to DragonEvents!</h2>
            </div>
			<!-- Navigation -->
			<nav>
				<ul class= "nav"> 
                    <li> <a href= "index.html">Home</a></li>
                    <li> <a href= "Events.html">Events</a></li>
                    <li> <a href= "about.html">About us</a></li>
                    <li> <a href= "Login.html">Log in</a></li>
                </ul>
			</nav>
		</header>
        
        <!-- Main Content -->
        <div id="MainContent">
            <div id="EventPage">
        <div id="filter">
            <input id="name_input" placeholder="Event Name"/>
            <input id="start_date" placeholder="Start Date" type="date"/>
            <input id="end_date" placeholder="End Date" type="date"/>
            <ul>
                <li><input class="tag" type="checkbox">Free</li>
                <li><input class="tag" type="checkbox">Music</li>
                <li><input class="tag" type="checkbox">Tag_3</li>
                <li><input class="tag" type="checkbox">Tag_4</li>
            </ul>            

        </div>
        <div id="EventContainer">
            <div id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </div>
            <div id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </div>
            <div id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </div>
            <div id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </div>
            <div id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </div>
            <div id="Events">
                <h3>Event Name</h3>
                <p>About the Events</p>
                <p>Event Date and Tme</p>
            </div>
        </div>
            </div>
    </div>
    </div>
    </body>
</html>