html
  head
    script(src='https://code.jquery.com/jquery-3.3.1.js', integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=', crossorigin='anonymous')
    script(src='../scripts/submit_event.js')
  body
    h1  DragonEvent Submission
    p Event Title:
    input#name(size='35', maxlength='75')
    br
    p Description:
    input#description(size='50', style='height:100px')
    br
    p
      | Start Date : 
      input#start_date(type='date', style='margin-right: 30px')
      |             End Date   : 
      input#end_date(type='date')
    p Location   :
    input#location(size='35')
    br
    p Event Type :
    input#event_type(size='35')
    br
    br
    button(type='submit', onclick='submitForm()') Submit
