doctype html
head
  meta(charset='utf-8')
  title DragonEvents
  link(rel='stylesheet', type='text/css', href='../css/EventStyle.css')
// Page Container
#container
  // Header
  header
    // Logo
    #logo
      img(src='../img/DragonEventsLogo.JPG', alt='DragonEvents Logo', height='150', width='200')
      h2 Welcome to DragonEvents!
    // Navigation
    nav
      ul.nav
        li
          a(href='../templates/index.html') Home
        li
          a(href='../templates/Events.html') Events
        li
          a(href='../templates/about.html') About us
        li
          a(href='../templates/Login.html') Log in
  // Main Content
  #MainContent
    #EventPage
      #filter
        input#name_input(placeholder='Event Name')
        input#start_date(placeholder='Start Date', type='date')
        input#end_date(placeholder='End Date', type='date')
        ul
          li
            input.tag(type='checkbox')
            | Free
          li
            input.tag(type='checkbox')
            | Music
          li
            input.tag(type='checkbox')
            | Tag_3
          li
            input.tag(type='checkbox')
            | Tag_4
      #EventContainer
        #Events
          h3 Event Name
          p About the Events
          p Event Date and Tme
        #Events
          h3 Event Name
          p About the Events
          p Event Date and Tme
        #Events
          h3 Event Name
          p About the Events
          p Event Date and Tme
        #Events
          h3 Event Name
          p About the Events
          p Event Date and Tme
        #Events
          h3 Event Name
          p About the Events
          p Event Date and Tme
        #Events
          h3 Event Name
          p About the Events
          p Event Date and Tme
