/*********************
   Header Style
*********************/

#container{
    width: 960px;
    margin: 0px auto;
    padding: 0 15px;}

#container header{
    padding: 0 0.8em;
    height: 90px;}

#container h2{
    font-family: cambria;
}


/*********************
   Nav Styles
*********************/
header nav{
    float: left;}

header nav ul{
    margin: 0;
    padding: 0;
    font-family: cambria;}

header nav ul li{
    float: left;
    padding: 0em 0 0em 1.3em;}

header nav ul li a, 
header nav ul li a:visited{
    font-size: 1em;
    color: #4A4A4A;
    text-decoration: none;}

header nav ul li a.active, 
header nav ul li a:focus, 
header nav ul li a:hover{
    color: green;}

li{
    display: inline;
<<<<<<< HEAD
    margin: 10px;}
=======
    margin: 10px;}


/*Main content*/
{
    background-image:url('background.jpg');}




/*********************
   Events
*********************/












/*********************
   About Us
*********************/
#about {
    font-family: cambria;
}

#about p {
    font-size: 0.9em
}








/*********************
   Log in
*********************/
>>>>>>> 5d7d6ab8b104e075e07911f9d7739d2e65121bca
