/*********************
   Header Style
*********************/
body{
    background-image: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)),url(stringio.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container{
    background-color: white;
    width: 970px;
    margin: 0px auto 10px;
    padding: 0 15px 20em;
    color: black;}

#container h2{
    font-family: cambria;
}


/*********************
   Nav Styles
*********************/
header nav{
    float: left;}

header nav ul{
    margin: 0;
    padding: 0;
    font-family: cambria;}

header nav ul li{
    float: left;
    padding: 0em 0 0em 1.3em;}

header nav ul li a, 
header nav ul li a:visited{
    font-size: 1em;
    color: #4A4A4A;
    text-decoration: none;}

header nav ul li a.active, 
header nav ul li a:focus, 
header nav ul li a:hover{
    color: green;}

li{
    display: inline;
    margin: 10px;}

/*********************
   Events
*********************/


#filter
{
    float: none;
    padding: 10px;
    margin-top: 12em;
}
#Events
{
    float: left;
    padding: 10px;
}
#EventContainer
{
    float: none;
    width: 500px;
}









/*********************
   About Us
*********************/
#about {
    font-family: cambria;
    align-content: center;
    margin-top: 12em;
    margin-left: 2em;
    padding-bottom: 3em;
}

#about p {
    font-family: cambria;
    font-size: 1em;
}



/*********************
   Log in
*********************/
.loginPage p{
    margin-top: 14em;
}

#form{
    position: relative;
    z-index: 1;
    background: #ffffff;
    width: 175px;
    margin: 0 auto 10px;
    text-align: center;
    padding-bottom: 10em;
}